@font-face {
  font-family: 'game_of_thronesregular';
  src: url('./font/game_of_thrones-webfont.woff2') format('woff2'),
       url('./font/game_of_thrones-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  box-sizing: border-box;
}

body {
  font-family: 'game_of_thronesregular';
  color: white;
  font-size: 9px;
  display: block;
  justify-content: center;
  background-image: url('https://i.imgur.com/oqRLYLg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: inherit;
  height: 100vh;
  padding-top: 70px;
  overflow-x: hidden;
}

.title {
  text-align: center;
  font-size: 3rem;
}

input,
button {
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 0.2rem;
  -webkit-appearance: none;
  margin-top: 20px;
}

input {
  border: 1px solid lightgray;
  margin-right: 0.4em;
}

button {
  border: 1px solid transparent;
  background: #4e9bff;
  color: white;
  cursor: pointer;
}

#wrapper {
  background: #3d3d3dc2;
  width: 100vw;
  height: 10%;
  text-align: center;
  justify-content: center;
}

.character-card {
  background: #000000c2;
  width: 100vw;
  display: inline-block;
  margin-top: 5%;
}
.character-card img {
  width: 400px;
  height: 400px;
  border-radius: 25px;
  object-fit: contain;
}

.character-card h2, h3, p {
  display: flexbox;
  font-size: 30px;
}